.mycolor{
    color: #89b758 !important;
}
.watchvideo{
    background-image: url('../../assets/background2.jpg');
    /* background-image: url(../../../assets/images/background2.jpg); */
    background-size: cover;
    background-position: center;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px !important;
}
.playcircelicon{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background-color:  #89b758 !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    animation: shadow 1s infinite ease-in-out;
    transition: all 0.3s;

}